    {% extends "index.html" %}
    {% block title %} Delete Project{% endblock %}
    {% block content %}
        <h2 class="text-3xl font-extrabold text-center">Are you sure you want to delete {{ project.project_name}}</h2>
        <div class="flex justify-center">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="flex justify-center bg-blue-500 rounded-xl w-64 p-3 mt-10 shadow-lg ">DELETE</button> 
        </form> 
        <button onclick="window.location.href='{% url 'home' %}'" class=" flex justify-center items-center ml-8 w-64 bg-blue-500 rounded-xl h-13 mt-10 shadow-xl">NAH G</button>
        </div>
    {% endblock %}